doctype html
html
  head
    title= 'Hypebeast Clone'
    link(
      rel="stylesheet", 
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", 
      integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=", 
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet", 
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", 
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", 
      crossorigin="anonymous"
    )
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_layout.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_index.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_footer.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_store.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_product.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_login.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_shopping_bag.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_account.css')
    link(rel='stylesheet', href='/stylesheets/hbx/hbx_addressing.css')
    link(rel='icon', href='/images/hbx_images/general/hbx_app.png')
  body
    
    .hbx_nav
      img.hamburger_mobile(src="/images/hbx_images/general/hamburger.png")
      .left_nav_items
        a(href="/store")
          img.hbx_title(src="/images/hbx_images/general/hbx_logo.png")
        ul.hbx_links_container.nav_elements
          a(href="/store").nav_menswear.hbx_nav_link.nav_elements MEN
          li.nav_womenswear.hbx_nav_link.nav_elements WOMEN 
          li.nav_archives.hbx_nav_link.nav_elements ARCHIVES
          li.nav_sale.hbx_nav_link.nav_elements SALE 
          li.nav_journal.hbx_nav_link.nav_elements JOURNAL
      .right_nav_items
        img.hbx_search(src="/images/hbx_images/general/search.png")
        ul.register.nav_elements
          - if(user){
              .nav_login.nav_elements
                button.hbx_nav_link.hbx_account_button ACCOUNT
                  .hbxAccountMenu
                    .hbx_topmost_line
                    a(href="/hbx_account") YOUR SETTINGS
                    a(href="/hbx_logout") LOGOUT
          - } else {
              a(href="/hbx_login").nav_login.hbx_nav_link.nav_elements LOG IN
          - }
          li.nav_help.hbx_nav_link.nav_elements HELP
        .cart.nav_elements#bag_button
          .shopping_bag_container
            .shopping_bag_handle
            .shopping_bag
          span.hbx_nav_link YOUR BAG
          img.arrow_down(src="/images/hbx_images/general/arrow_down.png")
          .cart_dropdown
            .nav_button_cover
              .shopping_bag_container.shopping_bag_container_hover
                .shopping_bag_handle.hover_handle
                .shopping_bag.shopping_bag_deux
              span.hbx_nav_link.hbx_nav_link_hover YOUR BAG
              img.arrow_down.arrow_down_hover(
                src="/images/hbx_images/general/arrow_down.png"
              )
            .items_in_bag
              span 1 Item
              span in Bag
            .dropdown_notice_top Please note: Item(s) is not reserved until checkout is completed.
            .cart_dropdown_product_container
              .cart_product
                .dropdown_img
                  img(
                    src="/images/hbx_images/tres-bien/pants/work-trousers_full.jpg"
                  )
                .cart_product_container
                  .cart_product_brand adidas originals
                  .cart_product_name T-shirt
                  .cart_size Size: L
                  .cart_notice This item is excluded from promotions.
                  .quantity_and_price_container
                    .quantity_and_price
                      .quantity
                        span.qty Qty:
                        span.minus_item -
                        span.item_count 1
                        span.add_item +
                      .dropdown_price 
                        span USD
                        span.product_price 60
                          span .00
              .cart_product
                .dropdown_img
                  img(
                    src="/images/hbx_images/tres-bien/pants/work-trousers_full.jpg"
                  )
                .cart_product_container
                  .cart_product_brand adidas originals
                  .cart_product_name T-shirt
                  .cart_size Size: L
                  .cart_notice This item is excluded from promotions.
                  .quantity_and_price_container
                    .quantity_and_price
                      .quantity
                        span.qty Qty:
                        span.minus_item -
                        span.item_count 1
                        span.add_item +
                      .dropdown_price 
                        span USD
                        span.product_price 60
                          span .00
            .dropdown_order_total_container
              .dropdown_order_total
                span.order_tot ORDER TOTAL
                span USD 
                span.cart_price 60
                  span .00
            .dropdown_notice
              span You will be charged in 
              span.usd USD 
                span.cart_price 660
                  span .00
            .dropdown_button_container
              a.view_bag(href="/hbx_shopping_bag") VIEW BAG
              a.checkout_now(href="/checkout/addressing") CHECKOUT NOW
            .dropdown_notice.dropdown_last_notice Have a Promotional Code or Gift Card? Add it in the Bag.
        ul.language.nav_elements
          img.hbx_flag(src="/images/hbx_images/general/usa_flag.png")
          span.hbx_nav_link USD
    .hbx_search_mobile 
      input.hbx_search_input_mobile(placeholder="Search")
      button.hbx_search_button_mobile Search
    .hbx_mobile_menu_background
      .hbx_scrollable_container
        .hbx_mobile_menu_options
          .mobile_links_container
            .mens_mobile_link MENS 
            .womens_mobile_link WOMENS
          ul.hbx_mobile_menu_content.hbx_primary_mobile_links
            li New Arrivals 
              img.hbx_drop_icon(src="/images/hbx_images/general/dropIcon.png")
            hr
            li Brands
              img.hbx_drop_icon(src="/images/hbx_images/general/dropIcon.png")
            hr
            li Clothing
              img.hbx_drop_icon(src="/images/hbx_images/general/dropIcon.png")
            hr
            li Accessories
              img.hbx_drop_icon(src="/images/hbx_images/general/dropIcon.png")
            hr
            li Shoes
              img.hbx_drop_icon(src="/images/hbx_images/general/dropIcon.png")
            hr
            li Sales
              img.hbx_drop_icon(src="/images/hbx_images/general/dropIcon.png")
          ul.hbx_mobile_menu_content.hbx_sub_mobile_links
            li Archives
            hr
            li Journal
            hr
            li Log In
            hr
            li Help
              img.hbx_grey_drop_icon(
                src="/images/hbx_images/general/dropIcon_grey.png"
              )
            hr
            li About HBX
              img.hbx_grey_drop_icon(
                src="/images/hbx_images/general/dropIcon_grey.png"
              )
            hr
          .country_and_usd
            .country
              img(src="/images/hbx_images/general/usa_flag_grey.png")
              p UNITED STATES
              img.arrow_down_mobile(
                src="/images/hbx_images/general/arrow_down.png"
              )
            .usd_container 
              p USD
              img.arrow_down_mobile(
                src="/images/hbx_images/general/arrow_down.png"
              )
          ul.hbx_language
            li English
            li 简体中文
            li 繁體中文
          .hbx_mobile_menu_social_media
            i.fa.fa-lg.fa-facebook
            i.fa.fa-lg.fa-instagram
            i.fa.fa-lg.fa-twitter
              
    //- .hbx_nav.hbx_nav_scroll
    //-   img.hamburger_mobile(src="/images/hbx_images/general/hamburger.png")
    //-   .left_nav_items
    //-     a(href="/store")
    //-       img.hbx_title(src="/images/hbx_images/general/hbx_logo.png")
    //-     ul.hbx_links_container.nav_elements
    //-       a(href="/store").nav_menswear.hbx_nav_link.nav_elements MEN
    //-       li.nav_womenswear.hbx_nav_link.nav_elements WOMEN 
    //-       li.nav_archives.hbx_nav_link.nav_elements ARCHIVES
    //-       li.nav_sale.hbx_nav_link.nav_elements SALE 
    //-       li.nav_journal.hbx_nav_link.nav_elements JOURNAL    
    
    block content
    
    include hbx_footer
    script(src='https://code.jquery.com/jquery-2.2.1.js')
    script(src='/scripts/hbx_main.js')
    script(src='/scripts/hbx_product.js')
    script(src='/scripts/hbx_add_to_cart.js')
