extends hbx_layout

block content
  
  .hbx_store_content
    .hbx_store_header_container
      ul.hbx_header_left_links
        li 
          a(href="#") Home 
        li
          img.hbx_arrow_right(src="/images/hbx_images/general/arrow_right.png")
        li 
          a(href="#") Brands
        li
          img.hbx_arrow_right(src="/images/hbx_images/general/arrow_right.png")
        li 
          a(href="#") 
            .inline_brand_name !{ brand[0].brand_name }
      .hbx_center_brand_name !{ brand[0].brand_name }
      .hbx_right_brand_name !{ brand[0].brand_name } in journal
        img.hbx_arrow_right(src="/images/hbx_images/general/arrow_right.png")
    .hbx_store_brand_description !{ brand[0].brand_description }
    
    .hbx_sorting_button_container
      .hbx_sorting_button
        select.form-control 
          option(value='newest_first') NEWEST FIRST
          option(value='high_to_low') PRICE: HIGH TO LOW
          option(value='low_to_high') PRICE: LOW TO HIGH
    
    .hbx_flexed_content
      .hbx_sidebar_nav
        .hbx_sidebar_link_container.hbx_menswear_links
          .hbx_sidebar_header Men
          ul
            li NEW ARRIVALS
            li BACK IN STOCK
            li SALE
            li // 
              span.uppercase_brand_name !{ brand[0].brand_name }
              span IN SALE
        .hbx_sidebar_link_container.hbx_category_links
          .hbx_sidebar_header Category
          .hbx_category_scroll_container
            - for(let i = 0; i < categories_arr.length; i++){
              ul
                li
                  input(type="checkbox" id="sidebar_filter_"+categories_arr[i] value=categories_arr[i] onclick="filterThisItem(this, '"+brand[0].brand_name+"')" )
                  label.sidebar_label(for="sidebar_filter_"+categories_arr[i]) !{categories_arr[i]}
            - }
        .hbx_sidebar_link_container.hbx_size_links
          .hbx_sidebar_header Size
          ul 
            .sidebar_sub_header CLOTHING
            li
            - for(let i = 0; i < product_sizes_arr.length; i++){
                li.size_div( onclick="filterThisItem(this, '"+brand[0].brand_name+"')" ) !{product_sizes_arr[i]}
            - }
        .hbx_sidebar_link_container.hbx_color_links
          .hbx_sidebar_header Color
          .hbx_category_scroll_container
            - for(let i = 0; i < colors_arr.length; i++){
              ul
                li
                  input(type="checkbox" id="sidebar_filter_"+colors_arr[i] value=colors_arr[i] onclick="filterThisItem(this, '"+brand[0].brand_name+"')" )
                  label.sidebar_label(for="sidebar_filter_"+colors_arr[i]) !{colors_arr[i]}
            - }
        .hbx_sidebar_link_container.hbx_price_links
          .hbx_sidebar_header 
            .prize_range
              div.hbx_sidebar_header Price
              - for(let i = 0; i < price_range_arr.length - 1; i += 2){
                  ul
                    li
                      input(type="checkbox" id="sidebar_filter_"+price_range_arr[i] value=price_range_arr[i]+" - "+price_range_arr[i+1] onclick="filterThisItem(this, '"+brand[0].brand_name+"')" )
                      label.sidebar_label(for="sidebar_filter_"+price_range_arr[i]) USD !{price_range_arr[i]}.00 - USD !{price_range_arr[i+1]}.00
              - }
        .hbx_sidebar_link_container
          .hbx_sidebar_clear_all CLEAR ALL
        .hbx_sidebar_link_container.hbx_featured_links
          .hbx_sidebar_header Featured Brands
          ul
            li 
              a.featured_brands(href="/brands/11-by-boris-bidjan-saberi") 11 By Boris Bidjan Saberi
            li 
              a.featured_brands(href="/brands/adidas-originals") Adidas Originals
            li 
              a.featured_brands(href="/brands/denim-by-vanquish-fragment") Denim By Vanquish & Fragment
            li 
              a.featured_brands(href="/brands/mastermind-world") Mastermind World
            li 
              a.featured_brands(href="/brands/tres-bien") Très Bien
            li 
              a.featured_brands(href="/brands/undercover") Undercover
            li#see_all_brands SEE ALL BRANDS
      
      
      .hbx_product_container
        - let x = 0;
        - for(let i = 0; i < store_prod_images.length; i++){
          .product_display
            .product_image
              if(i == 0 || i % 2 == 0 )
                a.main_img(href="/brands/"+brand[0].brand_name_link+"/"+product[x].product_name_route) !{ store_prod_images[i] }
                .product_name !{ product[x].product_name }
                .product_price USD !{ product[x].product_price }.00
                - x++;
                - brand_id++;
              else 
                a.hide_initially_img(href="#") !{ store_prod_images[i] }
        - }
            

      
