extends hbx_layout

block content
  
  .hbx_product_content
    .product_container
      .product_preview_container
        - for(let i = 0; i < product_images_arr.length; i++){
            .product_preview_img !{ product_images_arr[i] }
        - }
      .product_on_display_container
        - for(let j = 0; j < product_images_arr.length; j++){
            .product_on_display !{ product_images_arr[j] }
        - }
      .product_details_container
        .product_brand !{ brand_name_string }
        .product_name !{ product_content[0].product_name }
        .product_price USD !{ product_content[0].product_price }.00
        ul.product_size_container
          li.product_title SIZE
          li.find_your_size FIND YOUR SIZE
        .sizes_container
          - for(let s = 0; s < product_sizes_arr.length; s++){
              .product_sizes !{ product_sizes_arr[s] }
          - }
            
        
  .product_details !{ product_content[0].product_details }
