extends hbx_layout

block content
  
  .hbx_store_content
    .hbx_store_header_container
      ul.hbx_header_left_links
        li 
          a(href="#") Home 
        li
          img.hbx_arrow_right(src="/images/hbx_images/general/arrow_right.png")
        li 
          a(href="#") Brands
        li
          img.hbx_arrow_right(src="/images/hbx_images/general/arrow_right.png")
        li 
          a(href="#") 
            .inline_brand_name !{ brand[0].brand_name }
      .hbx_center_brand_name !{ brand[0].brand_name }
      .hbx_right_brand_name !{ brand[0].brand_name } in journal
        img.hbx_arrow_right(src="/images/hbx_images/general/arrow_right.png")
    .hbx_store_brand_description !{ brand[0].brand_description }
    
    .hbx_sorting_button_container
      .hbx_sorting_button
        select.form-control 
          option NEWEST FIRST
          option(value='desc') PRICE: HIGH TO LOW
          option(value='asc') PRICE: LOW TO HIGH
    
    .hbx_flexed_content
      .hbx_sidebar_nav
        .hbx_sidebar_link_container.hbx_menswear_links
          .hbx_sidebar_header Men
          ul
            li NEW ARRIVALS
            li BACK IN STOCK
            li SALE
            li // 
              span.uppercase_brand_name !{ brand[0].brand_name }
              span IN SALE
        .hbx_sidebar_link_container.hbx_category_links
          .hbx_sidebar_header Category
          .hbx_category_scroll_container
            - for(let i = 0; i < categories_arr.length; i++){
              ul
                li
                  input(type="checkbox" id="sidebar_filter_"+categories_arr[i] value=categories_arr[i])
                  label.sidebar_label(for="sidebar_filter_category_homeware") !{categories_arr[i]}
            - }
        .hbx_sidebar_link_container.hbx_size_links
          .hbx_sidebar_header Size
          ul CLOTHING
        .hbx_sidebar_link_container.hbx_color_links
          .hbx_sidebar_header Color
          .hbx_category_scroll_container
            - for(let i = 0; i < colors_arr.length; i++){
              ul
                li
                  input(type="checkbox" id="sidebar_filter_"+colors_arr[i] value=colors_arr[i])
                  label.sidebar_label(for="sidebar_filter_category_homeware") !{colors_arr[i]}
            - }
        .hbx_sidebar_link_container.hbx_price_links
          .hbx_sidebar_header Price
            .hello PRICE: !{ price_range_arr }
        .hbx_sidebar_link_container
          .hbx_sidebar_clear_all CLEAR ALL
        .hbx_sidebar_link_container.hbx_featured_links
          .hbx_sidebar_header Featured Brands
          ul
            li 
              a(href="/brands/11-by-boris-bidjan-saberi") 11 By Boris Bidjan Saberi
            li 
              a(href="/brands/adidas-originals") Adidas Originals
            li 
              a(href="/brands/denim-by-vanquish-fragment") Denim By Vanquish & Fragment
            li 
              a(href="/brands/mastermind-world") Mastermind World
            li 
              a(href="/brands/tres-bien") Très Bien
            li 
              a(href="/brands/Undercover") Undercover
            li.see_all_brands SEE ALL BRANDS
      
      
      .hbx_product_container
        - let x = 0;
        - for(let i = 0; i < store_prod_images.length; i++){
          .product_display
            .product_image
              if(i == 0 || i % 2 == 0 )
                a.main_img(href="/brands/"+brand[0].brand_name_link+"/"+product[x].product_name_route) !{ store_prod_images[i] }
                .product_name !{ product[x].product_name }
                .product_price USD !{ product[x].product_price }
                - x++;
                - brand_id++;
              else 
                a.hide_initially_img(href="#") !{ store_prod_images[i] }
        - }
            
            

      
