extends layout

block content
  .post_container
    .content 
      .sticky_container.post_page_sticky_container
        img(src="/images/hypebeast_images/general/ad_headphones_blue.png")
        .hypebeast_jobs
          .jobs_top_container
            .jobs_header HYPEBEAST JOBS
            .jobs_link See more ➔
          .jobs_container
            .jobs_title Buyer (Womenswear)
            .jobs_location Hong Kong Full-time
          .jobs_container
            .jobs_title Editor (Womenswear)
            .jobs_location Korea Full-time (Freelance)
          .jobs_container
            .jobs_title Editor
            .jobs_location Hong Kong Full-time
          .jobs_container
            .jobs_title Editor
            .jobs_location New York Full-time
          .jobs_container
            .jobs_title Video Editor / Videographer
            .jobs_location New York Full-time
          .jobs_button See More Job Openings
          
    .post_content
      .post_title !{ post[0].post_title }
      .post_subtitle !{ post[0].post_subtitle }
      .post_author By !{ post[0].post_author }
        span  / !{ post[0].post_time_of }
        span  / !{ post[0].category }
      .post_comment_count !{ post[0].post_comment_count }
      .post_text !{ post[0].post_content }
    
      .post_comment_section
        .post_comment_header
        .post_conversation
          .post_postbox
            - if(!user){
              .post_avatar
              .post_textarea_content
                textarea.post_textarea(placeholder="Join the discussion...")
                .post_actions.post_actions_empty
            - } else {
              - const article_id = post[0].id;
              form(method="post" action="post_comment/"+article_id)
                .post_avatar 
                  img.commenter_avatar_image(src="/images/hypebeast_images/avatars/png/fox.png")
                .post_textarea_content
                    textarea.post_textarea(name="user_comment" placeholder="Join the discussion...")
                    .post_actions
                        input.post_as_user(type="submit" value ="post as "+user.username)
            - }
            
          .posts_comments_main_container
            - for(let i = 0; i < all_comments.length; i++){
                .post_comments_container
                  .commenter_avatar
                    img.commenter_avatar_image(src="/images/hypebeast_images/avatars/png/fox.png")
                  .post_comment 
                    .commenter_content
                      .commenter_username !{all_comments[i].user_name}
                        span.reply_dot_seperator .
                        span.comment_time an hour ago
                      .commenter_input_container
                        input.comment_text(value=all_comments[i].comment_text)
                      .comment_reply_container
                        span.fa.fa-angle-up
                        span.reply_seperator |
                        span.fa.fa-angle-down
                        span.reply_dot_seperator .
                        span
                          a(href="#").reply_button Reply
                        span.reply_dot_seperator .
                        span.share_reply_button Share
                    .post_replies_main_container
            - }
    
    
    
    
    //- form(method="get" action="/comment")
    //-   button read...
    
    //- div.hello !{ posts[0].post_content } <!-- string interpolation used to display db object (result row, result set) -->
    
