extends layout

block content
  .banner_container
    .central_banner_image
      a(href="/post/"+posts[20].id)
        img(src="images/hypebeast_images/blogImages/damien_hirst_gagosian_gallery.jpg").index_banner_image
      .banner_article_title_container
        .banner_article_category Arts
        a(href="/post/"+posts[20].id).banner_article_title_main Damien Hirst's "Visual Candy and Natural History" Exhibition Opens
    .adjacent_banner_images
      a(href="/post/"+posts[19].id)
        img(src="images/hypebeast_images/blogImages/black_pigeon_nypd.jpg").index_banner_image_side
      .banner_article_title_container_side
        .banner_article_category Footwear
        a(href="/post/"+posts[19].id).banner_article_title_side NYPD Shut Down a Campout for the Nike SB Dunk Low "Black Pigeon”
      a(href="/post/"+posts[18].id)
        img(src="images/hypebeast_images/blogImages/supreme_akira.jpg").index_banner_image_side.index_banner_image_side_bottom
      .banner_article_title_container_side
        .banner_article_category Fashion
        a(href="/post/"+posts[18].id).banner_article_title_side An 'Akira' x Supreme Collaboration Is Coming
  .content
    .top_stories
      .top_ten_container
        .top_ten_header
          h2 Top 10 Stories
            span Continuously updated
        .top_ten_left
          - for(let y = 0; y < 5; y++){
            .top_ten_story
              .top_ten_number 
                div= y+1
            a(href="/post/"+topTen[y].id)
              .top_ten_image !{ topTen[y].post_image } 
            a(href="/post/"+topTen[y].id)
              .top_ten_title
                .top_ten_secret !{ postTitles[y] }**
                div(class="top_ten_description top_ten_description"+y) 
              .top_ten_details
                img(src="images/hypebeast_images/general/hype_flame.png")
                span.top_ten_hype !{ topTen[y].post_hype_count } Hypes
          - }
        .top_ten_right
          - for(let y = 5; y < topTen.length; y++){
            .top_ten_story
              .top_ten_number 
                div= y+1
            a(href="/post/"+topTen[y].id)
              .top_ten_image !{ topTen[y].post_image } 
            a(href="/post/"+topTen[y].id)
              .top_ten_title
                .top_ten_secret !{ postTitles[y] }** 
                div(class="top_ten_description top_ten_description"+y) 
              .top_ten_details
                img.right_images(src="images/hypebeast_images/general/hype_flame.png")
                span.top_ten_hype !{ topTen[y].post_hype_count } Hypes
          - }
        
      .top_ten_mobile_container
        .top_ten_header
          h2 Top 10 Stories
            span Continuously updated
        - for(let y = 0; y < topTen.length; y++){
          .top_ten_story_mobile
            .top_ten_number 
              div= y+1
            a(href="/post/"+topTen[y].id)
              .top_ten_image !{ topTen[y].post_image } 
            a(href="/post/"+topTen[y].id)
              .top_ten_title.top_ten_title_mobile
                .top_ten_secret !{ postTitles[y] }**
                div(class="top_ten_description top_ten_description_mobile top_ten_description"+y)
                img.mobile_hype_img(src="images/hypebeast_images/general/hype_flame.png")
                span.top_ten_hype !{ topTen[y].post_hype_count } Hypes
        - }
        
  .feed_header_mobile
    .feed_latest.feed_button.empty_link Latest
    .feed_rising.feed_button.empty_link Rising
    .feed_popular.feed_button.empty_link Popular
    
  .content.content_posts 
    .sticky_container
      img.sticky_ad_one(src="/images/hypebeast_images/general/ad_headphones_black.png")
      .hypebeast_jobs
        .jobs_top_container
          .jobs_header HYPEBEAST JOBS
          .jobs_link.empty_link See more ➔
        .jobs_container.empty_link
          .jobs_title Buyer (Womenswear)
          .jobs_location Hong Kong Full-time
        .jobs_container.empty_link
          .jobs_title Editor (Womenswear)
          .jobs_location Korea Full-time (Freelance)
        .jobs_container.empty_link
          .jobs_title Editor
          .jobs_location Hong Kong Full-time
        .jobs_container.empty_link
          .jobs_title Editor
          .jobs_location New York Full-time
        .jobs_container.empty_link
          .jobs_title Video Editor / Videographer
          .jobs_location New York Full-time
        .jobs_button.empty_link See More Job Openings
      .newsletter_widget
        p.newsletter_heading HYPEBEAST
        p.newsletter_subtitle SIGN UP FOR OUR NEWSLETTERS
        p.newsletter_text Receive the latest in Footwear, Fashion, Music and Creativity in our Newsletters.
        input.newsletter_input(placeholder="Enter your email address")
        button.newsletter_button.empty_link Sign Up
        
    .article_container
      .feed_header
        .feed_latest.feed_button Latest
        .feed_rising.feed_button Rising
        .feed_popular.feed_button Popular
    - for(let i = 0; i < 6; i++){
      .article_container
        a(href="/post/"+posts[i].id)
          span !{ posts[i].post_image }
          .article_info
            .category !{ posts[i].category } 
            a.title(href="/post/"+posts[i].id) !{ posts[i].post_title } 
            .author By !{ posts[i].post_author } / !{ posts[i].post_time_of }
            .subtitle !{ posts[i].post_subtitle } 
            .hypeRating 
              img(src="images/hypebeast_images/general/hype_flame.png") 
              span !{ posts[i].post_hype_count } Hypes
              // img(src="images/hypebeast_images/general/comment_balloon.png") 
              // span Comments
          .article_border
    -  }
    
    .wide_ad_container
      img.wide_ad.empty_link(src="images/hypebeast_images/general/ad_wide_hypebae.png")
      .sticky_container
        img.sticky_ad_two.empty_link(src="/images/hypebeast_images/general/ad_tall_headphones.png")
      
    - for(let i = 6; i < posts.length; i++){
      .article_container
        a(href="/post/"+posts[i].id)
          span !{ posts[i].post_image }
          .article_info
            .category !{ posts[i].category } 
            a.title(href="/post/"+posts[i].id) !{ posts[i].post_title } 
            .author By !{ posts[i].post_author } / !{ posts[i].post_time_of }
            .subtitle !{ posts[i].post_subtitle } 
            .hypeRating 
              img(src="images/hypebeast_images/general/hype_flame.png") 
              span !{ posts[i].post_hype_count } Hypes
              // img(src="images/hypebeast_images/general/comment_balloon.png") 
              // span Comments
          .article_border
    -  }
    .article_container
      div.more_button_mobile More
        span.more_pointer
          i.fa.fa-chevron-down

  div.more_button More
    span
      i.fa.fa-chevron-down
        
        
