doctype html
html
  head
    title= 'Hypebeast Clone'
    link(rel="stylesheet", 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", 
    integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=", 
    crossorigin="anonymous")
    link(rel="stylesheet", 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", 
    crossorigin="anonymous")
    link(rel='stylesheet', 
    href='/stylesheets/hypebeast/layout_index_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/post_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/login_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/footer_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/account.css')
    link(rel='icon', href='/images/hypebeast_images/general/favicon.png')
  body
    
    
    .banner_ad_section
      img.empty_link(src="/images/hypebeast_images/general/vans_banner_ad.png")
    
    .nav
      .header-top-section
        .socialMediaContainer
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/facebook.png"
          )
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/twitter.png"
          )
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/instagram.png"
          )
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/snapchat.png"
          )
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/youtube.png"
          )
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/feedly.png"
          )
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/flipboard.png"
          )
          img.socialMediaImages.empty_link(
            src="/images/hypebeast_images/socialMediaIcons/envelope.png"
          )
        .navBarAndClose
          div.hamburger
            img(src="/images/hypebeast_images/general/hamburger.png")
        a.navTitle(href="/") HYPEBEAST
        div.close
          img(src="/images/hypebeast_images/general/close.png")
        div.magnifierMobile
          img.magnifier_glass(src="/images/hypebeast_images/general/search.png")
      
        .navBtnContainer
          .navSelectBtnContainer
            .navAccountContainer
              - if(user && user.username){
                input.username_div(value=user.username)
              - } else if(user){
                input.username_div(value=user.email)
              - }
              
              img.avatar_img.empty_link(
                  src="/images/hypebeast_images/general/default_avatar.png"
                )
              button.navBtns.account Account 
                - if(user){
                  .accountDropDown
                    a.settings_link(href="/account") Your Settings
                    a(href="/logout") Logout
                - } else {
                  .accountDropDown
                    a(href="/login") Login
                    a(href="/register") Register
                - }
            .navGlobeContainer
              img.globe_img.empty_link(src="/images/hypebeast_images/general/globe.png")
              button.navBtns.language.empty_link English
                .globeDropDown
                  div.empty_link English
                  div.empty_link 繁體中文
        .mobileMenu
          .mobile-header-top-section
            .mobileNavTitle HYPEBEAST
            div.close
              img(src="/images/hypebeast_images/general/close.png")
          .mobileSearchBar
            input.searchInputBox(placeholder="What are you looking for?")
            div.magnifierSearchMenu
              img(src="/images/hypebeast_images/general/search.png")
          ul.firstUl
            li.empty_link Fashion
            li.empty_link Footwear
            li.empty_link Automotive
            li.empty_link Arts
            li.empty_link Sports
            li.empty_link Food
            li.empty_link Tech
            li.empty_link Travel
            li.empty_link Design
            li.empty_link Music
            li.empty_link Entertainment
            li.empty_link Editorial
          ul.secondUl
            -if(user){
              li.mobile_options 
                a(href="/account") Account
                img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
              li.mobile_options
                a(href="/logout") Log out
                img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
            -} else {
              li.mobile_options
                a(href="/login") Log In
                img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
              li.mobile_options
                a(href="/register") Register
                img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
            -}
            li Language
              img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
          ul.thirdUl
            li.empty_link Videos
            li.empty_link Magazine
            li.empty_link Forums
            li.empty_link More
              img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
          div.copyright 2017 All IP owned by Hypebeast Limited. 
      .main-nav
        ul
          li.fashionNavLink.empty_link FASHION
            .fashion_dropdown.nav_dropdown
              .dropdown_link.empty_link Supreme
              .dropdown_link.empty_link BAPE
              .dropdown_link.empty_link Palace
              .dropdown_link.empty_link Gosha Robchinskiy
              .dropdown_link.empty_link Pigaile
              .dropdown_link.empty_link OFF-WHITE
              .dropdown_link.empty_link Stone Island
              .dropdown_link.empty_link UNDERCOVER
          li.footwearNavLink.empty_link FOOTWEAR
            .footwear_dropdown.nav_dropdown
              .dropdown_link.empty_link Adidas
              .dropdown_link.empty_link Nike
              .dropdown_link.empty_link Jordan Brand
              .dropdown_link.empty_link YEEZY
              .dropdown_link.empty_link New Balance
              .dropdown_link.empty_link Vans
              .dropdown_link.empty_link ASICS
              .dropdown_link.empty_link UNDERCOVER
              .dropdown_link.empty_link visvim
              .dropdown_link.empty_link PUMA
              .dropdown_link.empty_link Reebok
          li.musicNavLink.empty_link MUSIC
            .music_dropdown.nav_dropdown
              .dropdown_link.empty_link Kanye West
              .dropdown_link.empty_link Drake
              .dropdown_link.empty_link ASAP Rocky
              .dropdown_link.empty_link Frank Ocean
              .dropdown_link.empty_link Travis Scott
              .dropdown_link.empty_link Kid Cudi
              .dropdown_link.empty_link Kendrick Lamar
              .dropdown_link.empty_link Gucci Mane
              .dropdown_link.empty_link The Weeknd
              .dropdown_link.empty_link Daft Punk
          li.artsNavLink.empty_link ARTS
            .arts_dropdown.nav_dropdown
              .dropdown_link.empty_link KAWS
              .dropdown_link.empty_link Banksy
              .dropdown_link.empty_link Shepard Fairey
              .dropdown_link.empty_link Takashi Murakami
              .dropdown_link.empty_link Daniel Arsham
              .dropdown_link.empty_link Ai Weiwei
              .dropdown_link.empty_link Jeff Koons
              .dropdown_link.empty_link Cleon Peterson
              .dropdown_link.empty_link Hajime Sorayama
              .dropdown_link.empty_link Ron English
          li.designNavLink.empty_link DESIGN
          li.editorialsNavLink.empty_link EDITORIALS
          li.allSectionsNavLink.empty_link ALL SECTIONS
            .all_sections_dropdown.nav_dropdown
              .all_sections_left_container
                .dropdown_link.empty_link FORUMS
                .mobile_all_sections 
                  .dropdown_link.empty_link MUSIC
                  .dropdown_link.empty_link ARTS
                .dropdown_link.empty_link DESIGN
                .dropdown_link.empty_link EDITORIALS
                .dropdown_link.empty_link TECH
                .dropdown_link.empty_link ENTERTAINMENT
                .dropdown_link.empty_link AUTOMOTIVE
                .dropdown_link.empty_link FOOD
                .dropdown_link.empty_link TRAVEL
                .dropdown_link.empty_link GUIDES
                .dropdown_link.empty_link SPORTS
              .all_sections_right_container 
                .dropdown_right_content 
                  .dropdown_header HB100 | 2016
                  .dropdown_text HYPEBEAST 100: The innovators from all realms of creativity in the spotlight.
                .dropdown_right_content 
                  .dropdown_header HYPEBEAST MAGAZINE
                  .dropdown_magazine_container
                    .dropdown_text With in-depth interviews, focused features and fashion-forward editorials, our print publication features long-form coverage of the topics valued to readers.
                    img(src="/images/hypebeast_images/general/hypebeast_magazine_small.png")
                .dropdown_right_content 
                  .dropdown_header HYPEBAE
                  .dropdown_text Explore and be inspired by the latest womens fashions and trends.
          
          li.videosNavLink.empty_link VIDEOS
          li.radioNavLink.empty_link RADIO
          a.storeNavLink(href="/store" target="_blank") STORE
          li.magnifier_li
            .magnifier
              img(src="/images/hypebeast_images/general/search.png")
          .search_nav_container
            input.search_nav_input(placeholder="What are you looking for?")
            img.search_nav_glass(
              src="/images/hypebeast_images/general/search_grey.png"
            )
            img.search_nav_close(
              src="/images/hypebeast_images/general/close_transparent.ico"
            )
            .search_border
            .trending_searches 
              div.trending_header Trending Searches
              div.trending_topic BAPE
              div.trending_topic Supreme
              div.trending_topic kith
              div.trending_topic lonzo ball
              div.trending_topic off white
                

        .login_successful Login successful! 
      .returnToTop
        img(src="https://d2gkwoflhw8cr8.cloudfront.net/bundles/hypebeasteditorial/images/back-to-top_2x.png?1504605512")
    
    block content
    
    include footer
    script(src='https://code.jquery.com/jquery-2.2.1.js')
    script(src='/scripts/hypebeast/main.js')
    script(src='/scripts/hypebeast/change_password.js')
    script(src='/scripts/hypebeast/post.js')
    script(src='/scripts/hypebeast/createReplyDiv.js')
    script(src='/scripts/hypebeast/createParentDiv.js')
    script(src='/scripts/hypebeast/generateComments.js')
