extends layout

block content
  .post_container
    .content 
      .sticky_container.post_page_sticky_container
        img(src="/images/hypebeast_images/general/ad_headphones_blue.png")
        .hypebeast_jobs
          .jobs_top_container
            .jobs_header HYPEBEAST JOBS
            .jobs_link.empty_link See more ➔
          .jobs_container.empty_link
            .jobs_title Buyer (Womenswear)
            .jobs_location Hong Kong Full-time
          .jobs_container.empty_link
            .jobs_title Editor (Womenswear)
            .jobs_location Korea Full-time (Freelance)
          .jobs_container.empty_link
            .jobs_title Editor
            .jobs_location Hong Kong Full-time
          .jobs_container.empty_link
            .jobs_title Editor
            .jobs_location New York Full-time
          .jobs_container.empty_link
            .jobs_title Video Editor / Videographer
            .jobs_location New York Full-time
          .jobs_button.empty_link See More Job Openings
          
    .post_content
      .post_title !{ post[0].post_title }
      .post_subtitle !{ post[0].post_subtitle }
      .post_author By !{ post[0].post_author }
        span  / !{ post[0].post_time_of }
        span  / !{ post[0].category }
      .post_comment_count !{ post[0].post_comment_count }
      .post_text !{ post[0].post_content }
      
      .post_ad_container
        .post_advert
          img.hypebae_post_ad.empty_link(src="/images/hypebeast_images/general/hypebae_ad.jpeg")
        .post_ad_description
          p.empty_link Latest women's streetwear, fashion and more
          img(src="/images/hypebeast_images/general/promoted_by.png")
    
      .post_comment_section
        .post_comment_header
        .post_conversation
          .post_postbox
            - if(!user){
              .post_avatar
              .post_textarea_content
                textarea.post_textarea( onfocus="this.placeholder = ''" onblur="this.placeholder = 'join the discussion...'" placeholder="join the discussion...")
                .post_actions.post_actions_empty
            - } else {
              - const article_id = post[0].id;
              .disqus_form
                .post_avatar 
                  img.commenter_avatar_image(src="/images/hypebeast_images/avatars/png/fox.png")
                .post_textarea_content
                    textarea.post_textarea(onfocus="this.placeholder = ''" onblur="this.placeholder = 'join the discussion...'" placeholder="join the discussion...")
                    .post_actions
                        button.post_as_user(onclick="submitCommentToDB(this,'"+post[0].id+"','"+user.id+"','"+user.username+"')") post as !{user.username}
            - }
          
          .posts_comments_main_container
            
          input.hidden_user.allCommentsWithoutParents(value=allCommentsWithoutParents readonly='readonly')
          input.hidden_user.allCommentsWithParents(value=allCommentsWithParents readonly='readonly')
          input.hidden_user.allComments(value=all_comments readonly='readonly')
          -if(user){
            input.hidden_user.usernameVal(value=user.username readonly='readonly')
          -}
          .generated_comment_container
    

    
